#startup_buttons {
    background-image: -gtk-gradient (linear,
    left top, left bottom,
    from (shade (#ff6666, 0.9)),
    color-stop (0.8, shade(#ff8888,1.0)),
    to (shade (#ff8888, 1.0)));
    font-size: 50px;
    color:#ffffff;
}

#startup_buttons:hover {
    background-image: -gtk-gradient (
    linear,
    left top, left bottom,
    from (shade (#ff0000, 1.00)),
    to (shade (#ffaaaa, 0.9)));
    /*border-color: #000000;*/
}

#content2_image_border {
    background: #ffff00;
    border-width: 2px;
    border-style: dotted;
    border-color: #000000;
}



#content2_img_padding {
    background: rgba(200,200,255,0.9);
    /*color: transparent;*/
}


#content2_dialog_wrong_value {
    background-image: -gtk-gradient (
    linear,
    left top, left bottom,
    from (shade (#ff9999, 0.9)),
to (shade (#ff9999, 1.05)));
    /*border-color: #000000;*/
}
GtkComboBoxText GtkEntry,#content2_dialog_default {
    background-image: -gtk-gradient(linear, left top, left bottom,
    from (shade (#ffffff, 1.0)),
to (shade (#ffffff,0.95)));
}